<div class="well">
<h1>Create Your Profile, <%= current_user.first_name %></h1>
<%= form_tag '/profiles', method: :post do %>
  <div>
    <%= label_tag :Age %>
    <%= text_field_tag :age %>
  </div>
  <div>
    <%= label_tag :Height %>
    <%= text_field_tag :height %>
  </div>
  <div>
    <%= label_tag :Weight %>
    <%= text_field_tag :weight %>
  </div>
  <div>
    <%= label_tag :Medical_Conditions %>
    <%= text_field_tag :diagnoses %>
  </div>
  <div>
    <%= label_tag :Medications %>
    <%= text_field_tag :medications %>
  </div>
  <div>
    <%= label_tag :Substance_Use_History%>
    <%= text_field_tag :substancehx %>
  </div>
  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>
</div>