<div class="content_wrapper">
      <!-- Breadscrumb Start -->
        <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3" style="background: url(images/bg_img.jpg); background-attachment: fixed; background-position: 50% 50%;">
          <div class="breadcrumb_wrap_inner">
              <div class="container">
                <h1>Profile</h1>
                    <ul class="breadcrumbs">
                      <li><a href="/">Home</a> /</li>
                      <li>Profile</li>
                    </ul>
              </div>
            </div>
        </div>
        <!-- Breadscrumb Start -->
        
        <!-- Detail Wrap Start -->
        <div id="dtl_wrap" class="dtl_wrap">
            <div class="container">
                <!-- Detail Wrapper Start -->
                <div class="dtl_wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="txt_inner_wrap">
                      <!-- Dtl Inner Start -->
                        <div class="detail_text_wrap">
                        <h4>Age</h4>
                          <p><%= @profile.age %>
                              
                            </p>
                        <h4>Height</h4>
                            <p><%= @profile.height %>                     
                            </p>
                        <h4>Weight</h4>
                            <p><%= @profile.weight %>
                              
                            </p>
                        <h4>Medical Conditions</h4>
                            <p><%= @profile.diagnoses %>
                                
                                
                            </p>
                        <h4>Medications</h4>
                            <p> <%= @profile.medications %>
                                
                            </p>
                        <h4>Substance Use history</h4>
                            <p><%= @profile.substancehx %>
                               
                            </p>
                            <p>
                                
                            </p>
                            <p>
                                
                            </p>
                            <p>
                                
                            </p>
                            <p>
                                
                            </p>
                            <p>
                                
                            </p>
                            <p>
                                
                            </p>
                            
                            <p>
                                
                            </p>
                            <p>
                                
                            </p>
                            
                            <p>
                                
                            </p>
                            
                            <p>
                                
                            </p>
                            
                        </div>
                        <!-- Dtl Inner End -->                    
                    </div>
                    
                </div>
                <!-- Detail Wrapper End -->
                
            </div>
        </div>
        <!-- Detail Wrap End -->
        
    </div>