<div class="content_wrapper">
      <!-- Breadscrumb Start -->
        <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3" style="background: url(images/bg_img.jpg); background-attachment: fixed; background-position: 50% 50%;">
          <div class="breadcrumb_wrap_inner">
              <div class="container">
                <h1>Profile</h1>
                    <ul class="breadcrumbs">
                      <li><a href="/">Home</a> /</li>
                      <li>Profile</li>
                    </ul>
              </div>
            </div>
        </div>
        <!-- Breadscrumb Start -->
        
        <!-- Detail Wrap Start -->
        <!-- <div id="dtl_wrap" class="dtl_wrap">
            <div class="container">
                <!-- Detail Wrapper Start -->
                <!-- <div class="dtl_wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="txt_inner_wrap">
                      <!-- Dtl Inner Start -->
                       <!--  <div class="detail_text_wrap">
                        
                        </div> -->
                        <!-- Dtl Inner End -->                    
                    <!-- </div>
                    
                </div>  -->
                <!-- Detail Wrapper End -->
                
           <!--  </div>
        </div> --> 
        <!-- Detail Wrap End -->
        
    </div>

    <div class="well">
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading" style="text-align:center" style="font-weight: bold">Subject Profile</div>
  <div class="panel-body">
    <p>Name: <%=@user.first_name%> <%=@user.last_name%></p>
    <p>E-mail: <%=@user.email%></p>
  </div>

<table class="table">
  <tr>
    <td>Age</td>  
    <td><%= @profile.age %></td>
  </tr>
  <tr>
    <td>Height</td>  
    <td><%= @profile.height %></td>
  </tr>
  <tr>
    <td>Weight</td>  
    <td><%= @profile.weight %></td>
  </tr>
  <tr>
    <td>Medical Conditions</td>  
    <td><%= @profile.diagnoses %></td>
  </tr>
  <tr>
    <td>Medications</td>  
    <td><%= @profile.medications %></td>
  </tr>
  <tr>
    <td>Substance Use History</td>  
    <td><%= @profile.substancehx %></td>
  </tr>
</table>
</div>