 <!--<h1>The studies of <%=current_user.first_name%></h1>
   <% @user_studies.each do |user_study| %>
      <div class="col-md-4">
        <div class="well">
          <p>Name:<%= user_study.study.name %></p>
          <p>Condition:<%= user_study.study.condition %>
          <p>Compensation:<%= user_study.study.compensation %></p>
          
          <p>Created at: <%= user_study.study.friendly_created_at %></p>
          <a href="/studies/<%=user_study.study.id%>">Go to this study</a>

        </div>
      </div>
    <% end %> -->

<div class="content_wrapper">
      <!-- Blog Breadscrumb Start -->
        <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3" style="background: url(/images/bg_img.jpg); background-attachment: fixed; background-position: 50% 50%;">
          <div class="breadcrumb_wrap_inner">
              <div class="container">
                <h1>My Studies</h1>
                    <ul class="breadcrumbs">
                      <li><a href="index.html">Home</a> /</li>
                      <li>Studies (list view)</li>
                    </ul>
              </div>
            </div>
        </div>
        <!-- Blog Breadscrumb Start -->
        
        <!-- Courses Start -->
        <div id="courses_wrapper" class="courses_wrapper">
            
            <!-- Courses Content Start -->
            <div class="container">
              <!-- Course Wrapper Start -->
                <div class="course_wrapp col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!-- Courses Top Search Start -->
             
                    <!-- Courses Top Search End -->
                    <div class="course_to_search_wrapp">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="course_to_search_inner">
                            <div class="course_to_search">
                              <div class="panel panel-primary">
  <!-- Default panel contents -->
                                  <div class="panel-heading" style="text-align:center" style="font-weight: bold">Study Request Status</div>
                                  <div class="panel-body">
                                    <p>... </p>
                                  </div>

                                 <table class="table">
                                    <tr>
                                      <td>Study</td> 
                                      <td>Site</td> 
                                      <td>Status</td>
                                    </tr>
                                   <% @user_requests.each do |user_request| %>
                                    <tr>
                                      <td><%= user_request.user_study.study.name %></td> 
                                      <td><%= user_request.site_study.site.name %></td> 
                                      <td><%= user_request.status %></td>
                                    </tr>
                                   <%end%>
                                </table>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                    
                    <!-- Courses Wrapper Start -->
                  
                    <div class="wrapper_course">
                    <% @user_studies.each do |user_study| %>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="course_block">
                                <div class="img_wrap">
                                    <img class="sizeadjust" src="<%= user_study.study.image %>" onerror="if (this.src != 'error.jpg') this.src = '/images/quikkstudylogo.png';">
                                    <div class="course_img_hoverlay_btn"><a href="/studies/<%=user_study.study.id%>" title="View More" class="fa fa-eye"></a></div>
                                    <h4><%= user_study.study.condition %> </h4>
                                </div>
                                <div class="info_wrap">
                                    <div class="science">
                                        <div class="course_info">
                                            <p><%= user_study.study.description %></p>
                                        </div>
                                    </div>
                                    <div class="science course_count_wrap">
                                        <div class="course_count">
                                            Duration: <span><%= user_study.study.duration %></span>
                                        </div>
                                        <div class="course_price">
                                            Compensation: <span>$<%= user_study.study.compensation %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%end%>
                        
                    <!-- Courses Wrapper End -->
                    
                    <div class="clearfix"></div>
                    <!-- Pagination Start -->
                    <div class="pager">
                        <div class="pages">
                            <ul class="pagination">
                                <li><a href="">Prev</a></li>
                                <li class="active"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Pagination End -->
                    
                </div>
                <!-- Course Wrapper End -->
                
                <!-- Course Aside Start -->
               
        
    </div>
    <!-- Content Wrapper End -->
    
    <!-- Offcanvas Menu Start -->
    <div class="offcanvas_overlay"></div>
    <!-- Offcanvas Menu End -->
    
    <!-- JavaScript -->        
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/js/jquery.dlmenu.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/js/jquery-plugin-collection.js"></script>
    <script type="text/javascript" src="/js/owl-carousel.js"></script>
    <script type="text/javascript" src="/js/js-functions.js"></script>
    