<!-- <h1>All Studies!!!</h1>
    <% @studies.each do |study| %>
      <div class="col-md-4">
        <div class="well">
          <p>Name:<%= study.name %></p>
          <p>Condition:<%= study.condition %>
          <p>Compensation:<%= study.compensation %></p>
          
          <p>Created at: <%= study.friendly_created_at %></p>
          <a href="/studies/<%=study.id%>">Go to this study</a>

        </div>
      </div>
    <% end %> -->
    <div ng-app="app">
        <div ng-controller="studiesCtrl" ng-init="setup()">
      
    <!-- Content Wrapper Start -->
    <div class="content_wrapper">
      <!-- Blog Breadscrumb Start -->
        <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3" style="background: url(/images/bg_img.jpg); background-attachment: fixed; background-position: 50% 50%;">
          <div class="breadcrumb_wrap_inner">
              <div class="container">
                <h1>Available Studies</h1>
                    <ul class="breadcrumbs">
                      <li><a href="index.html">Home</a> /</li>
                      <li>Studies (list view)</li>
                    </ul>
              </div>
            </div>
        </div>
        <!-- Blog Breadscrumb Start -->
        
        <!-- Courses Start -->
        <div id="courses_wrapper" class="courses_wrapper">
            
            <!-- Courses Content Start -->
            <div class="container">
              <!-- Course Wrapper Start -->
                <div class="course_wrapp col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!-- Courses Top Search Start -->
                     <div class="course_to_search_wrapp">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="course_to_search_inner">
                                <div class="course_to_search">
                                    
                                    <div class="search_course">
                            <input ng-model="nameFilter" placeholder="Filter by condition">
                      <!-- <form method="post" action="#">
                          <input class="form-control" placeholder="Search by condition" name="s" type="text">
                            <button type="submit" class="btn btn_search"><i class="fa fa-search"></i></button>
                        </form> -->
                                    </div>
                                    <div>
                                      <button ng-click="changeOrderAttribute('compensation')">Order by Compensation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- Courses Top Search End -->
                    
                    <!-- Courses Wrapper Start -->
                   <div ng-repeat="study in studies | filter: {condition: nameFilter} | orderBy:orderAttribute:isOrderDescending">
                    <div class="wrapper_course">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="course_block">
                                <div class="img_wrap">
                                    <img class="sizeadjust" src="{{ study.image }}" onerror="if (this.src != 'error.jpg') this.src = '/images/quikkstudylogo.png';">
                                    <div class="course_img_hoverlay_btn"><a href="/studies/{{study.id}}" title="View More" class="fa fa-eye"></a></div>
                                    <h4>{{ study.condition }} </h4>
                                </div>
                                <div class="info_wrap">
                                    <div class="science">
                                        <div class="course_info">
                                            <p>{{ study.description }}</p>
                                        </div>
                                    </div>
                                    <div class="science course_count_wrap">
                                        <div class="course_count">
                                            Duration: <span>{{ study.duration }}</span>
                                        </div>
                                        <div class="course_price">
                                            Compensation: <span>${{ study.compensation }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                        
                    <!-- Courses Wrapper End -->
                    
                    <div class="clearfix"></div>
                    <!-- Pagination Start -->
                    <div class="pager">
                        <div class="pages">
                            <ul class="pagination">
                                <li><a href="">Prev</a></li>
                                <li class="active"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Pagination End -->
                    
                </div>
                <!-- Course Wrapper End -->
                
                <!-- Course Aside Start -->
                
        <!-- Count Section End -->
        
        
    </div>
    <!-- Content Wrapper End -->


    <!-- Offcanvas Menu Start -->
    <div class="offcanvas_overlay"></div>
    <!-- Offcanvas Menu End -->
  </div>
</div>
    
    <!-- JavaScript -->        
        <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/js/jquery.dlmenu.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/js/jquery-plugin-collection.js"></script>
    
  <script type="text/javascript" src="/js/owl-carousel.js"></script>
    
    <script type="text/javascript" src="/js/rev/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/js/rev/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/js/rev/revolution.extension.video.min.js"></script>    
    
    <script type="text/javascript" src="/js/js-functions.js"></script>
    <script type="text/javascript" src="/js/flicker.js"></script>
    <script type="text/javascript" src="/js/rev_slider.js"></script> 