
<!-- <div class="well">
  <h2>Name:<%= @study.name %></h2>
  <p>Condition:<%= @study.condition %>
  <p>Compensation:<%= @study.compensation %></p>
  <p>Created at: <%= @study.friendly_created_at %></p>
  <button type="button" class="btn btn-default"><a href='/studies'>Back to studies</a></button>
  <button type="button" class="btn btn-default"><a href='/studies'><%= link_to "Delete this study", "/studies/#{@study.id}", method: :delete %></a></button>
  <h3>Join Study</h3>
        <%= form_tag '/user_studies', method: :post do %>
          <div>
            <%= hidden_field_tag :study_id, @study.id %>
          </div>
          <%= submit_tag "Join"%>
        <%end%>
</div>
</div> -->


    
    <!-- Content Wrapper Start -->
    <div class="content_wrapper">
      <!-- Blog Breadscrumb Start -->
        <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3" style="background: url(images/bg_img.jpg); background-attachment: fixed; background-position: 50% 50%;">
          <div class="breadcrumb_wrap_inner">
              <div class="container">
                <h1><%= @study.name %></h1>
                    <ul class="breadcrumbs">
                      <li><a href="/">Home</a> /</li>
                      <li><a href="/studies">Studies</a> /</li>
                      <li><%=@study.name %></li>
                    </ul>
              </div>
            </div>
        </div>
        <!-- Blog Breadscrumb Start -->
        
        <!-- Courses Start -->
        <div id="dtl_wrap" class="dtl_wrap">
            
            <!-- Courses Content Start -->
            <div class="container">
              <!-- Course Wrapper Start -->
                <div class="dtl_wrapper col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!-- Detail Wrapper Start -->
                  <div class="dtl_inner_wrap">
                      <!-- Dtl Inner Start -->
                        <div class="dtl_inner last">
                            <div class="dtl_head">
                                <h1><%= @study.name %></h1>
                                <% if current_researcher %>
                                    <%= form_tag '/researchers_addstudytosite', method: :post do %>
                                    <div>
                                        <%= hidden_field_tag :study_id, @study.id %>
                                    </div>
                                        <%= submit_tag "Add Study to Your Site"%>
                                    <%end%>
                                <% end %>
                                <div class="dtl_meta_info">
                                    <p></p>
                                </div>
                            </div>
                            <div class="dtl_block">
                                <div class="dtl_img">
                                    <img alt="Blog Image" src="<%=@study.image %>" onerror="if (this.src != 'error.jpg') this.src = '/images/quikkstudylogo.png';">
                                </div>
                                <div class="detail_text_wrap">
                                  <div class="info_wrapper">
                                      <div class="info_head">
                                        <h4>Description</h4>
                                            <p><%= @study.description %></p>
                                        </div>
                                    </div>
                                  <div class="info_wrapper">
                                      <div class="info_head">
                                        <h4>What To Expect in a Clinical Trial</h4>                                            
                                        </div>
                                        <p>During a clinical trial, doctors, nurses, social workers, and other health care providers might be part of your treatment team. They will monitor your health closely. You may have more tests and medical exams than you would if you were not taking part in a clinical trial..</p>
                                        <p>Your treatment team also may ask you to do other tasks. For example, you may have to keep a log about your health or fill out forms about how you feel.</p>
                                        
                                        <p>Some people will need to travel or stay in hospitals to take part in clinical trials. For example, the National Institutes of Health Clinical Center in Bethesda, Maryland, runs clinical trials. Many other clinical trials take place in medical centers and doctors' offices around the country.</p>
                                    </div>
                                  <div class="info_wrapper">
                                      
                                    <div class="info_wrapper">
                                    <div class="info_head">
                                        <h4>Clinical Trial Protocol</h4>                                            
                                        </div>
                                        <p>If you take part in a clinical trial, you may get tests or treatments in a hospital, clinic, or doctor's office. In some ways, taking part in a clinical trial is different from having regular care from your own doctor. For example, you may have more tests and medical exams than you would otherwise. The purpose of clinical trials is research, so the studies follow strict scientific standards. These standards protect patients and help produce reliable study results. Each clinical trial has a master plan called a protocol (PRO-to-kol). This plan explains how the trial will work. The trial is led by a principal investigator (PI), who often is a doctor. The PI prepares the protocol for the clinical trial. Key information in a protocol includes:</p>
                                        <ul class="arr_menu">
                                            <li>how many patients will take part in the clinical trial</li>
                                            <li>who is eligible to take part in the clinical trial</li>
                                            <li>what tests patients will get and how often they will get them</li>
                                            <li>what type of data will be collected during the clinical trial</li>
                                        </ul>
                                    </div>
                                    <div class="info_wrapper">
                                      <div class="info_head">
                                        <h4>Eligibility Criteria</h4>                                            
                                        </div>
                                        <p>A clinical trial's protocol describes what types of patients are able to take part in the research—that is, who is eligible. Each trial must include only people who fit the patient traits for that study (the eligibility criteria). Eligibility criteria differ from trial to trial. They include factors such as a patient's age and gender, the type and stage of disease, and whether the patient has had certain treatments or has other health problems. Eligibility criteria ensure that new approaches are tested on similar groups of people. This makes it clear to whom a clinical trial's results apply. These criteria also are a safety measure. They ensure a trial excludes any people for whom the protocol has known risks that outweigh any possible benefits.</p>
                                        
                                        <p>Some people will need to travel or stay in hospitals to take part in clinical trials. For example, the National Institutes of Health Clinical Center in Bethesda, Maryland, runs clinical trials. Many other clinical trials take place in medical centers and doctors' offices around the country.</p>
                                    </div>
                                      
                                        
                                        
                                        
                                        
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Dtl Inner End -->
                        
                        <!-- Dtl Comments Start -->

                        <!-- Dtl Comments End -->
                        
                        <!-- Add Review Start -->
                        
                        <!-- Add Review End -->                        
                    </div>
                    <!-- Detail Wrapper End -->                    
                    <div class="clearfix"></div>
                    
                </div>
                <!-- Course Wrapper End -->
                
                <!-- Course Aside Start -->
                <div class="aside_wrapper col-lg-3 col-md-4 col-sm-12 col-xs-12" style="float:left">
                  <!-- Course Category Start -->
                    <div class="hookup_wrap">
                      <a href="#" class="btn hookup_btn">Study Overview </a> 
                        <ul>
                          <li><span class="hookup_tag">NCTID</span><span class="hookup_duration"><a href="https://clinicaltrials.gov/show/<%=@study.ctgid%>"><%= @study.ctgid %></a></span></li>
                          <li><span class="hookup_tag">Duration</span><i class="fa fa-clock-o"></i><span class="hookup_duration"><%=@study.duration %></span></li>
                          <li><span class="hookup_tag">Condition</span><span class="hookup_duration"><%= @study.condition %></span></li>
                          <li><span class="hookup_tag">Intervention</span><span class="hookup_duration"><%= @study.intervention %></span></li>
                          <li><span class="hookup_tag">Compensation</span><span class="hookup_duration">$<%= @study.compensation %></span></li>
                        </ul>
                    </div>
                    <!-- Course Category End -->
                    
                    
                    
                    <!-- Course Subscribe Start -->
                    <% if current_user %>
                    <div class="course_subscribe" style="float:left">                      
                      <h4>Request to Join Study!</h4>
                        <!-- <form method="post" action="/users_joinstudy">
                            <input type="hidden" value="<%=@study.id%> name="study_id">
                            <button type="submit" class="btn btn_subscribe">Submit <i class="fa fa-share"></i></button>
                        </form> -->
                      <%= form_tag '/users_joinstudy', method: :post do %>
                        <div>
                            <%= hidden_field_tag :study_id, @study.id %>
                        </div>
                            <%= submit_tag "Submit" %>
                      <%end%>
                    </div>
                    <%end%>
                    <!-- Course Subscribe End -->
                    <!-- Course Events Start -->
                    <div class="course_tutor">
                      <h4>Sites Conducting Study</h4>                        
                        <ul>
                          <% @site_studies.each do |site_study| %>
                          <li>

                              <!-- <div class="tutor_img">
                                  <img alt="Leonardo Bonucci" src="images/faculty_s.jpg">
                                </div> -->
                                <div class="tutor_info">
                                  <h5>
                                      <a href="/sites/<%=site_study.site.id%>"><%=site_study.site.name%></a>
                                    </h5>
                                    <p><%= site_study.site.address%></p>
                                </div>
                            </li>
                            <%end%>
                          
                          
                        </ul>
                    </div>
                    <!-- Course Events End -->
                    <!-- Tags Start -->
                    
                    <!-- Tags End -->
                    
                </div>
                <!-- Course Aside End -->                          
            </div>
            <!-- Courses Content End -->
        </div>
        <!-- Courses End -->
        
        <!-- Related Course Start -->
        
                <!-- Slider End -->
            
        
        <!-- Related Course End -->
        
    </div>
    <!-- Content Wrapper End -->
    
    
    <!-- Offcanvas Menu Start -->
    <div class="offcanvas_overlay"></div>
    <!-- Offcanvas Menu End -->
    
    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/jquery.dlmenu.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/jquery-plugin-collection.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script> 
    <script type="text/javascript" src="js/js-functions.js"></script>