
    
    <!-- Content Wrapper Start -->
    <div class="content_wrapper">
      <!-- Blog Breadscrumb Start -->
        <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3" style="background: url(/images/bg_img.jpg); background-attachment: fixed; background-position: 50% 50%;">
          <div class="breadcrumb_wrap_inner">
              <div class="container">
                <h1>Clinical Research Sites</h1>
                    <ul class="breadcrumbs">
                      <li><a href="index.html">Home</a> /</li>
                      <li>Sites (list view)</li>
                    </ul>
              </div>
            </div>
        </div>
        <!-- Blog Breadscrumb Start -->
        
        <!-- Courses Start -->
        <div id="courses_wrapper" class="courses_wrapper">
            
            <!-- Courses Content Start -->
            <div class="container">
              <!-- Course Wrapper Start -->
                <div class="course_wrapp col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!-- Courses Top Search Start -->
                    <!-- <div class="course_to_search_wrapp">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="course_to_search_inner">
                                <div class="course_to_search">
                                    
                                    
                                    <div class="search_course">
                      <form method="post" action="#">
                          <input class="form-control" placeholder="Search by " name="s" type="text">
                            <button type="submit" class="btn btn_search"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Courses Top Search End -->
                    
                    <!-- Courses Wrapper Start -->
                    <% @sites.each do |site| %>
                    <div class="wrapper_course">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="course_block">
                                <div class="img_wrap">
                                    <img src="<%=site.image %>" onerror="if (this.src != 'error.jpg') this.src = '/images/quikkstudylogo.png';">
                                    <div class="course_img_hoverlay_btn"><a href="/sites/<%=site.id%>" title="View More" class="fa fa-eye"></a></div>
                                    <h4><%= site.name %> </h4>
                                </div>
                                <div class="info_wrap">
                                    <div class="science">
                                        <div class="course_info">
                                            <p><%= site.address%></p>
                                        </div>
                                    </div>
                                    <div class="science course_count_wrap">
                                        <div class="course_count">
                                            E-mail: <span><%= site.email %></span>
                                        </div>
                                        <div class="course_price">
                                            Ph: <span><%= site.phone_number %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%end%>
                        
                    <!-- Courses Wrapper End -->
                    
                    <div class="clearfix"></div>
                    <!-- Pagination Start -->
                    <div class="pager">
                        <div class="pages">
                            <ul class="pagination">
                                <li><a href="">Prev</a></li>
                                <li class="active"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Pagination End -->
                    
                </div>
                <!-- Course Wrapper End -->
                
                <!-- Course Aside Start -->
               
        <!-- Count Section End -->
        
        <!-- Blog Start -->
        
        <!-- Blog End -->
        
    </div>
    <!-- Content Wrapper End -->
    
    <!-- Offcanvas Menu Start -->
    <div class="offcanvas_overlay"></div>
    <!-- Offcanvas Menu End -->
    
    <!-- JavaScript -->        
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/js/jquery.dlmenu.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/js/jquery-plugin-collection.js"></script>
    <script type="text/javascript" src="/js/owl-carousel.js"></script>
    <script type="text/javascript" src="/js/js-functions.js"></script>