


    
    <!-- Content Wrapper Start -->
    <div class="content_wrapper">
      <!-- Blog Breadscrumb Start -->
        <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3" style="background: url(images/bg_img.jpg); background-attachment: fixed; background-position: 50% 50%;">
          <div class="breadcrumb_wrap_inner">
              <div class="container">
                <h1><%= @site.name %></h1>
                    <ul class="breadcrumbs">
                      <li><a href="/">Home</a> /</li>
                      <li><a href="/sites">Sites</a> /</li>
                      <li><%=@site.name %></li>
                    </ul>
              </div>
            </div>
        </div>
        <!-- Blog Breadscrumb Start -->
        
        <!-- Courses Start -->
        <div id="dtl_wrap" class="dtl_wrap">
            
            <!-- Courses Content Start -->
            <div class="container">
              <!-- Course Wrapper Start -->
                <div class="dtl_wrapper col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!-- Detail Wrapper Start -->
                  <div class="dtl_inner_wrap">
                      <!-- Dtl Inner Start -->
                        <div class="dtl_inner last">
                            <div class="dtl_head">
                              <% if current_researcher.site_id == nil %>
                                <h1><%= @site.name %></h1>
                                <% if current_researcher %>
                                    <%= form_tag '/researchers_joinsite', method: :post do %>
                                    <div>
                                        <%= hidden_field_tag :site_id, @site.id %>
                                    </div>
                                        <%= submit_tag "Join Site"%>
                                    <%end%>
                                <% end %>
                              <%end%>
                                <div class="dtl_meta_info">
                                    <p></p>
                                </div>
                            </div>
                            <div class="dtl_block">
                                <div class="dtl_img">
                                    <img alt="Blog Image" src="<%= @site.image%>">
                                </div>
                                <div class="detail_text_wrap">
                                 
                                        <!-- Contact Wrapper Start -->
                            <div class="info_wrapper">               
                <!-- Contact Info Start -->
                                <div class="info_head">
                    <div class="contact_info">
                        <div class="contact_info_inner">
                        
                                <div class="icon_box"><i class="fa fa-phone"></i></div>
                                <div class="info_txt">
                                    <h4>Phone</h4>
                                    <p><%= @site.phone_number %></p>
                                </div>
                        </div>
                        </div>
                        </div>
                        <div class="info_wrapper">
                        <div class="info_head">
                        <div class="contact_info_inner">
                                <div class="icon_box"><i class="fa fa-envelope"></i></div>
                                <div class="info_txt">
                                    <h4>Email</h4>
                                    <p><a href="mailto:abcxyz@abc.com"><%= @site.email %></a></p>
                                </div>
                            </div>
                            </div>
                            </div>
                        
                        <div class="info_wrapper">
                                      <div class="info_head">
                           
                                <div class="icon_box"><i class="fa fa-map-marker"></i></div>
                                <div class="info_txt">
                                    <h4>Address</h4>
                                    <p><%=@site.address %></p>
                                </div>
                            
                                </div>
                        
                    </div>
                </div>
                <!-- Contact Info End -->
                                    </div>
                                  <div class="info_wrapper">
                                      
                                    <div class="info_wrapper">
                                      <div class="info_head">
                                        
                        <!-- Dtl Inner End -->
                        
                        <!-- Dtl Comments Start -->
                        
                    <!-- Tags End -->
                    
                </div>
                <!-- Course Aside End -->                          
            </div>
            <!-- Courses Content End -->
        </div>
        <!-- Courses End -->
        
        <!-- Related Course Start -->
        
        <!-- Related Course End -->
        
    </div>
    <!-- Content Wrapper End -->
    
    
    <!-- Offcanvas Menu Start -->
    <div class="offcanvas_overlay"></div>
    <!-- Offcanvas Menu End -->
    
    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/jquery.dlmenu.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/jquery-plugin-collection.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script> 
    <script type="text/javascript" src="js/js-functions.js"></script>